<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="supertitle">Third Partner Super Admin - {{title}}</title>
</head>

<body>
    {% include 'core/navbar.html' %}
    {% block content%} {% endblock %}


    <script>

        var infor = "{{info}}"
        var user = "{{user}}"
        console.log("Iniciando a rotina: ", infor)
        var listMenu = []
        if (user == "AnonymousUser") {
            listMenu = ['index_menu', 'register_menu', 'login_menu']
        } else listMenu = ['index_menu', 'sheet_menu', 'receipt_menu', 'vacancies_menu']

        var whichMenu = listMenu.indexOf(infor)
        console.log(listMenu)
        for (let i = 0; i < listMenu.length; i++) {
            console.log("For: ", i)
            if (listMenu[i] == infor) {
                console.log(`Igual: ${listMenu[i]}, valor do infor: ${infor}`)
                document.getElementById(infor).className = "nav-item active"
            } else {
                console.log("To no else!")
                document.getElementById(listMenu[i]).className = "nav-item inactive"
            }
        }
    </script>
</body>

</html>