{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="{% url 'users:nouser_view' %}" class="navbar-brand">Third Partner</a>
        <p class="navbar-brand mb-0">| Bem vindo, {{user.user_name}}!</p>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% for il in menu.items %}
                <li class="nav-item" id="{{m}}">
                    <a href="/{{il.1}}" class="nav-link">{{il.0}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="{% url 'users:nouser_view' %}" class="navbar-brand">Third Partner</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="login_menu">
                    <a href="{% url 'users:nouser_view' %}" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endif %}

{% bootstrap_javascript jquery='full' %}