{% load bootstrap4 %}
{% load static %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'core:index_view' %}" class="navbar-brand">Third Partner</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" id="index_menu">
                        <a href="{% url 'core:index_view' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item" id="sheet_menu">
                        <a href="{% url 'core:sheet_view' %}" class="nav-link">Planilha</a>
                    </li>
                    <li class="nav-item" id="receipt_menu">
                        <a href="{% url 'core:receipt_view' %}" class="nav-link">Notas</a>
                    </li>
                    <li class="nav-item" id="vacancies_menu">
                        <a href="{% url 'core:vacancies_view' %}" class="nav-link">Vagas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% bootstrap_javascript jquery='full' %}
