.footerbox {
    background-color:#111;
    color: rgb(211,211,211) !important;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    position: absolute;
    bottom:0;
    right:0;
    left: 0;
}
.navbar .nav-link {
    font-size: 14px !important;
    text-transform: uppercase !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 solid;
}

.navbar .nav-link {
    margin-bottom: 0rem !important;
}