{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
    <title>Third Partner AdminApp</title>
</head>

<body>
    <div class="form-group">
        <form action="{% url 'users:nouser_view' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card border-0 shadow rounded-3 my-5">
                            <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Faça Login</h5>
                                <form>
                                    <div class="form-floating mb-3">
                                        {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{form.password|as_crispy_field }}
                                    </div>
                                    <div class="d-grid">
                                        <button action="{% url 'users:nouser_view' %}" method="POST"
                                            class="btn btn-primary btn-login text-uppercase fw-bold"
                                            type="submit">Entrar</button>
                                    </div>
                                    <hr class="my-4">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>